@using Anaconda.Models
@model IEnumerable<VisitationInfo>

@{
    ViewData["Title"] = "Visitors Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.min.js"></script>

<div class="col-xl-3 col-md-6 mb-4" style="margin-left:-15px">
    <div class="card border-left-info border-bottom-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Visitor's Logs</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-history fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    @* <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>
    </div> *@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:13px">
                <thead>
                    <tr>
                        <th>Sn</th>
                        <th>IP</th>
                        <th>Browser</th>
                        <th>OS</th>
                        <th>Device</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>ISP</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sn = 1;
                    }
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td>@sn</td>
                            <td>@log.IpAddress</td>
                            <td>@log.Browser</td>
                            <td>@log.OperatingSystem</td>
                            <td>@log.Device</td>
                            <td>@log.Location!.City</td>
                            <td>@log.Location!.Country</td>
                            <td>@log.Location!.Isp</td>
                            <td>@log.CreatedAt.ToLocalTime()</td>
                        </tr>
                        sn++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            responsive: true
        });
    });
</script>
